/* Tuit Tuit logo */
@font-face {
  font-family: "Tuit Tuit Regular";
  src: url(../typefaces/tuit-tuit-regular.otf.woff2);
}

#bs-override tuittuit-title {
  font-family: "Tuit Tuit Regular" !important;
  font-weight: bold !important;
  color: #427a15 !important;
}

tuittuit-title:hover {
  color: #2f570f !important;
}

.tuittuit-bg {
  background-color: rgb(124, 240, 139);
}

.tuittuit-fg {
  background-color: rgb(51, 156, 65);
}

.tuittuit-sidenav-bg {
  background-color: #7d451b;
}

.tuittuit-sidenav-fg {
  background-color: #472c1b;
}
